---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/page.njk
eleventyComputed:
  title: "Posts Tagged with '{{ tag }}'"
  description: "Taughannock Falls State Park posts tagged with '{{ tag }}.' Taughannock Falls State Park, in New York State's Finger Lakes region near Ithaca and Trumansburg, hosts the tallest single-drop waterfall east of the Rocky Mountains."
---

<p class="page-hed"><em>Ah, tags.</em> What a great way to narrow down what you're looking for!</p>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}