<footer>
  <div class="solid-footer">
    <p>&copy;{% currentYear %} <a href="https://twitter.com/scottpdawson"><i class="fab fa-twitter"></i> @scottpdawson</a> | <a href="/about/">About this Site</a></p>
  </div>
</footer>