<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link href="/_includes/assets/fa/css/all.min.css" rel="stylesheet" media="print" onload="this.media='screen'">
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />

  <link rel="preload"
        as="style"
        href="https://fonts.googleapis.com/css?family=Neuton|Special+Elite|EB+Garamond:400,700,400i,700i|Oswald:400,700&display=swap" />

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Neuton|Special+Elite|EB+Garamond:400,700,400i,700i|Oswald:400,700&display=swap"
        media="print" onload="this.media='all'" />

  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Neuton|Special+Elite|EB+Garamond:400,700,400i,700i|Oswald:400,700&display=swap" />
  </noscript>
  <title>{%- if title !== 'Welcome' -%}{{ title }} | Taughannock Falls State Park{%- else -%}Taughannock Falls State Park{%- endif -%}</title>
  {% set meta_description %}
    {%- if description -%}{{ description }}{%- else -%}Taughannock Falls State Park hosts the tallest single-drop waterfall east of the Rocky Mountains. These spectacular falls are in New York State's Finger Lakes region near Ithaca and Trumansburg.{%- endif -%}
  {% endset %}
  <meta name="description" content="{{ meta_description }}"/>
  <link rel="alternate" href="/feed.xml" title="Taughannock Falls State Park" type="application/atom+xml">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@scottpdawson" />
  <meta name="twitter:creator" content="@scottpdawson" />
  <meta name="twitter:description" content="{{ meta_description }}"/>
  <meta property="og:url" content="https://taughannock.us/{%- if permalink !== '/' and date -%}{{date | momentYear | slug}}/{{date | momentSeason | slug}}/{{title | removeNonAlpha | slug}}/{%- else -%}{{permalink}}{%- endif -%}" />
  <meta property="og:title" content="{%- if title !== 'Welcome' -%}{{ title }}{%- else -%}Taughannock Falls State Park{%- endif -%}" />
  <meta property="og:description" content="{{ meta_description }}"/>
  {% set og_hero %}
  {%- if hero -%}{{ hero }}{%- else -%}/images/IMG_9526.jpg{%- endif -%}
  {% endset %}
  <meta property="og:image" content='https://taughannock.us{{ og_hero }}?nf_resize=smartcrop&w=1200&h=630' />
  <meta property="og:image:width" content='1200' />
  <meta property="og:image:height" content='630' />
  <link rel="icon" type="image/png" sizes="512x512"  href="/static/img/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
  <script defer src="/_includes/assets/fa/js/all.js"></script>
  <script defer src="/_includes/assets/js/search.js"></script>
  <script defer src="/_includes/assets/js/flickity.pkgd.min.js"></script>
  <script defer src="/_includes/assets/js/fullscreen.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
    {% include "assets/css/flickity.min.css" %}
    {% include "assets/css/fullscreen.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3965818-19"></script>
  <script>
  if (document.location.hostname.search("taughannock.us") !== -1) {
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3965818-19');
  }
  </script>
</head>