
<div class="main-carousel" data-flickity='{ "fullscreen": false, "wrapAround": "true", "autoPlay": 7000, "pauseAutoPlayOnHover": true }'>
  {%- for item in postslist | reverse  -%}
  {% if loop.index <= 6 %}
  {% include '_includes/components/carousel-cell.njk' %}
  {% endif %}
  {%- endfor -%}
</div>

{% if postslist.length > 6 %}
<h2>More '{{ tag }}' Posts</h2>
<ul class="post-list">
  {%- for item in postslist | reverse  -%}
  {% if loop.index > 6 %}
  {% include '_includes/components/post-teaser-condensed.njk' %}
  {% endif %}
  {%- endfor -%}
</ul>
{% endif %}